@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

h3 {
  font-size: 1.75rem;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
  font-size: 1.1rem;
}

button:hover {
  transition: all 200ms ease-in-out;
  background-color: white;
  color: #8d67d3;
  border: 2px solid #8d67d3;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px #966ce0;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  /* background-color: #eee; */
  background-color: #f0eafc;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #e9e0f9;
}

.event {
  padding: 20px 20px 35px;
  margin-bottom: 20px;
  text-align: left;
  border: 2px solid #e9e0f9;
  border-radius: 4px;
  position: relative;
  background-color: #f0eafc;
}

.event:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 200ms ease-in-out;
}

#number-of-events {
  display: flex;
  flex-direction: column;
}

.details {
  margin-top: 25px;
}

.caption {
  font-style: italic;
  color: #a9a9a9;
  margin-top: 15px;
}

.details-btn {
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: #966ce0;
  color: white;
  border: 2px solid #8d67d3;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
}
